Source: salt-formula-manila
Maintainer: Vasyl Saienko vsaienko@mirantis.com
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-manila
Vcs-Git: https://github.com/salt-formulas/salt-formula-manila.git

Package: salt-formula-manila
Architecture: all
Depends: ${misc:Depends}
Description: manila salt formula
 Install and configure manila system.
